body {
    margin: 0;
    color: #93a1a1;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;

    background-color: #002b36;
    font-family: Arial, Helvetica, sans-serif;
}
textarea {
    width: 80vw;
    min-height: 100vh;
    border: none;
    overflow: auto;
    outline: none;
    background-color: #002b36;
    color: #93a1a1;
    font-size: 1.5rem;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 1em;
    resize: none; /*remove the resize handle on the bottom right*/
}
.header {
    position: fixed;
    top: 2em;
    right: 2em;
    justify-content: space-around;
    height: 45vh;
    width: 10vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #eee8d5;
    color: #586e75;
    opacity: 0.7;
    padding: 1em;
    border-radius: 1em;
}
.header h1 {
    text-align: center;
}
.header .button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 25vh;
}
.header button {
    background-color: #002b36;
    color: #eee8d5;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    padding: 1em;
    cursor: pointer;
    width: 95%;
    transition: all 0.25s ease-in-out;
}
.header button:hover {
    color: #002b36;
    background-color: #93a1a1;
}

.message {
    position: fixed;
    bottom: 1em;
    left: 1em;
    background-color: green;
    color: gainsboro;
    padding: 1em;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    cursor: pointer !important;
}

/* Track */
::-webkit-scrollbar-track {
    background: #001e25;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(238, 232, 213, 0.7);
    cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(238, 232, 213, 0.6);
}

@media only screen and (max-width: 600px) {
    .header {
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        width: calc(100vw - 2em);
        height: 25vh;
        justify-content: space-around;
        align-items: center;
        display: flex;
        flex-direction: column;
        opacity: 1;
        border-radius: 0;
    }
    .header .button-container {
        flex-direction: row;
        width: 100%;
        height: 10vh;
    }
    .header button {
        width: 45%;
    }
    textarea {
        width: calc(100vw - 2em);
        max-width: 100vw;
        min-height: 100vh;
        font-size: 1.5rem;
    }
    .message {
        right: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
